@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Araboto";
  src: url("Araboto Medium 400.ttf") format("truetype");
}

body {
  background-image: url("bg.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadein 0.5s ease-in-out;
}

@keyframes fadein {
  0% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(5px);
  }
}

.footer {
  position: absolute;
  margin-top: auto;
  bottom: 3px;
  color: #eaeaea;
  font-family: "Inter";
  font-size: 2vh;
  text-align: center;
  width: 100%;
  letter-spacing: 1px;
  animation: fadein-and-moveup 1s ease-in-out 0.2s;
}

.footer > a {
  text-decoration: none;
  color: #eaeaea;
  font-weight: 500;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 95%;
  max-height: 98%;
  color: #eaeaea;
}

@keyframes fadein-and-moveup {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.form {
  max-width: 30%;
  width: 100%;
  animation: fadein-and-moveup 1s ease-in-out;
}

.heading {
  max-width: 40%;
  width: 100%;
  animation: fadein-and-moveup 1s ease-in-out 0.1s;
}

.heading > h1 {
  position: relative;
  font-family: "Araboto";
  font-size: 5.3vh;
  text-transform: uppercase;
  left: -3px;
}

.heading > h2 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 2.3vh;
  text-transform: uppercase;
}

.heading > p {
  font-family: "Inter";
  font-size: 2.1vh;
  font-weight: 400;
}

.heading > p:first-of-type {
  margin-top: 5%;
}

.heading > p:last-of-type {
  margin-top: 2%;
  font-size: 2.2vh;
}

.formbox {
  position: relative;
}

.formbox > label {
  font-family: "Inter";
  font-size: 2vh;
  font-weight: 500;
}

.formbox > input {
  background-color: transparent;
  border: 2px solid #eaeaea;
  color: #eaeaea;
  padding: 5px 10px;
  font-family: "Inter";
  font-size: 0.95rem;
  font-weight: 400;
  margin-bottom: 1.5em;
  margin-top: 0.8em;
  height: 2em;
  width: 70%;
}

#submit {
  background-color: transparent;
  border: 2px solid #cccccc;
  color: #eaeaea;
  padding: 0.6rem 1.2rem;
  font-family: "Inter";
  font-size: 0.95rem;
  font-weight: 400;
  margin-top: 0.5em;
  transition: all 0.2s ease-in-out;
}

#submit:hover {
  background-color: #eaeaea;
  border-color: #eaeaea;
  color: #000000;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.resultcontent {
  flex-direction: column;
  text-align: center;
  animation: fadein-and-moveup 1s ease-in-out;
}

.result {
  max-width: 100%;
  animation: none;
}

.meme > img {
  max-width: 40%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1400px) {
  .formbox > input {
    width: 80%;
  }
}

@media screen and (max-width: 1200px) {
  .form {
    max-width: 40%;
  }

  .formbox > input {
    width: 90%;
  }
}

@media screen and (max-width: 810px) {
  .container {
    overflow-y: scroll;
  }
  .content {
    flex-direction: column-reverse;
    margin-top: 40%;
  }
  .resultcontent {
    flex-direction: column;
  }
  .heading {
    max-width: 80%;
  }
  .form {
    margin-top: 15%;
    max-width: 60%;
  }
  .formbox > button {
    margin-left: 35%;
  }
  .footer {
    margin-top: 5em;
    position: inherit;
    margin-bottom: 0.5em;
  }
}

@media screen and (max-width: 500px) {
  .container {
    display: block;
  }
  .heading > h1 {
    font-size: 2.15rem;
  }
  .heading > h2 {
    font-size: 1.2rem;
  }
  .heading > p {
    font-size: 1.1rem;
  }
  .heading > p:last-of-type {
    font-size: 1.1rem;
  }
  .formbox > label {
    font-size: 1rem;
  }
  .content {
    margin-top: 25%;
  }
  .form {
    max-width: 80%;
  }
  .meme > img {
    max-width: 70%;
  }
}

@media screen and (max-width: 400px) {
  .heading {
    max-width: 85%;
  }
  .form {
    max-width: 85%;
  }
}
